{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-back">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="h-full">
		<div>
  <div class="relative z-50" role="dialog" aria-modal="true" id="mobile-sidebar" style="visibility: hidden;">
    <div class="fixed inset-0 bg-base/80"></div>

    {% block sidebar %}{% endblock %}

  <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-base px-4 py-4 shadow-sm sm:px-6 lg:hidden">
    <button type="button" class="-m-2.5 p-2.5 text-base-text lg:hidden" id="open-sidebar-btn">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>

  <main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
					{% block content %}{% endblock %}
    </div>
  </main>
</div>
</body>


<script>
	let sidebarOpen = false;
	const closeSidebarBtn = document.querySelector("#close-sidebar-btn");
	const openSidebarBtn = document.querySelector("#open-sidebar-btn");
	const sidebar = document.querySelector("#mobile-sidebar");

	const toggleVisibility = () => {
		if (!sidebarOpen) {
			sidebar.style.visibility = "visible"
		} else {
			sidebar.style.visibility = "hidden"
		}

		sidebarOpen = !sidebarOpen;
	}

	closeSidebarBtn.addEventListener("click", toggleVisibility);
	openSidebarBtn.addEventListener("click", toggleVisibility);

	</script>
</html>
