{% extends 'base.html' %}
{% load widget_tweaks %}

{% block sidebar %}
{% include 'sidebar.html' with active_tab="create_payment" %}
{% endblock %}

{% block content %}

<form method="POST">
{% csrf_token %}
{{ form.non_field_errors }}

<div class="flex flex-col space-y-4 sm:col-span-3">
    <div class="flex flex-row">
      {{ form.amount.label_tag }}
      {{form.amount}}
    </div>
    {% for error in amount.errors %}
      <div class="mt-2">{{ error }}</div>
    {% endfor %}

    <div class="flex flex-row">
      {{ form.name.label_tag }}
      {{form.name}}
    </div>
    
    {% for error in name.errors %}
      <div class="mt-2">
        {{ error }}
      </div>
    {% endfor %}
    </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <input class="rounded-md bg-secondary px-6 py-4 text-sm font-semibold text-base-text shadow-sm hover:bg-accent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary" type="submit" value="Create payment" />
  </div>
</form>

{% endblock %}
