{% extends 'base.html' %}

{% block sidebar %}
{% include 'sidebar.html' with active_tab="payments" %}
{% endblock %}

{% block content %}

<ul role="list" class="divide-y divide-gray-900/5 overflow-hidden bg-base shadow-sm ring-1 ring-gray-900/5 sm:rounded-t-xl">
{% for payment in page_obj %}
  <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-secondary sm:px-6">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            <a href="{% url 'payment_details' pk=payment.id %}">
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  {{ payment.name }}
            </a>
          </p>
          <p class="mt-1 flex text-xs leading-5 text-gray-500">
          <span class="relative turncate">{{ payment.end_user|default_if_none:"No user assigned" }}
          </p>
        </div>
      </div>
      <div class="flex shrink-0 items-center gap-x-4">
        <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">{{payment.status|title}}</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">Created {{ payment.created_at|timesince }} ago></p>
        </div>
        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </li>
{% empty %}
<li class="relative flex justify-between gap-x-6 px-4 py-5 sm:px-6">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
           There are no payments... yet.
          </p>
        </div>
      </div>
</li>

{% endfor %}
</ul>


<div class="flex items-center justify-between border-t border-gray-200 bg-base px-4 py-3 sm:px-6 rounded-b-xl ring-1 ring-gray-900/5">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        <span class="font-medium">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm bg-back" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <a
          href="?page={{page_obj.previous_page_number}}" 
          class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
        {% else %}
        <a
          href="#" 
          class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 pointer-events-none"
        >
        {% endif %}
          <span class="sr-only">Previous</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
        </a>
        {% if page_obj.has_next%}
          <a
           href="?page={{page_obj.next_page_number}}"
           class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
          {% else %}
          <a
            href="#"
            class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 pointer-events-none"
          >
          {% endif %}
          <span class="sr-only">Next</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </a>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
