{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
{% include 'sidebar.html' with active_tab="" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
  const clientSecret = "{{ payment_client_secret|safe }}";
  const stripeReturnURL = "{% url 'post_payment' pk=payment.id %}";
</script>

<form id="payment-form">
  <div id="payment-element">
    <!-- Elements will create form elements here -->
  </div>
  <button id="submit">Submit</button>
  <div id="error-message">
    <!-- Display error message to your customers here -->
  </div>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payments/checkout.js' %}"></script>
{% endblock %}


